body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(0, 0, 21);
    font-size: 18pt;
}

main{
    color:rgb(43, 193, 183)
}

footer{
    color:#DD3399
}

nav{
    color:#D39
}

header {
    color:white;
    font-size: larger;
    font-weight: bold;
}

#deemphasis{
    color:rgb(136, 136, 136)
}

.emphasis{
    color:rgb(245, 95, 93)
}

h2 {
    color: white;
}

